<h1>
    Welcome to Operating Systems notes.....
</h1>

<!-- TODO: create a dynamic webpage displaying the contents in the database for os notes -->

<!-- the displayed data will be in the form of cards as in shopping websites -->
